<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.component.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="toggle" />
        <h2>Walter's PORTFOLIO</h2>
        <ul id="menu">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/project">Project</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <label for="toggle">
            <i class='bx bx-menu'></i>
        </label>
      </nav>
</body>
</html>