<section class="home">
    <div class="left-side">
        <h3>Hello, I'm</h3>
        <h1>Walter White</h1>
        <h3>and I'm THE ONE WHO KNOCKS </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sequi tenetur ratione ducimus similique, reiciendis distinctio expedita totam incidunt modi! Culpa perspiciatis reiciendis sed explicabo. Voluptatum rerum cum minima architecto.</p>
        <div class="social-media">
            <a href="https://twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>  
            <a href="https://github.com/" target="_blank"><i class='bx bxl-github'></i></a>    
            <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram' ></i></a>            
            <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin-square'></i></a>  
        </div>
        <a href="mailto:walterwhite@gmail.com" class="btn">Get in touch</a>
    </div>

    <div class="right-side">
        <img src="assets/ww.jpg">
    </div>
</section>